//页面样式
body,
html {
  font-size: 14px;
  color: #1d2243;
  font-weight: 400;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.van-button--primary {
  background-color: #6d4ffd;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  height: 50px;
}
.van-button--primary span {
  font-weight: 600;
}
.van-nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}
.van-hairline--bottom::after {
  border: none;
}
.van-nav-bar__right img {
  width: 24px;
  height: 24px;
}
.van-nav-bar__left img {
  height: 24px;
  width: 24px;
}
section.main {
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  position: relative;
  padding: 20px 20px 100px;
}
.line {
  display: flex;
  letter-spacing: 0.2px;
  margin: 0 auto;
}
.line p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line p:nth-child(1) {
  flex: 1;
}
.line p:nth-child(2) {
  flex: 3;
}
.confirmContent {
  background-color: #f7f8fc;
  margin: 20px 20px;
  padding: 0 20px;
  line-height: 50px;
  b {
    color: #4c528f;
    em {
      color: #8c9fad;
    }
  }
  div {
    justify-content: space-between;
    position: relative;
    &::before {
      content: '';
      border-bottom: 1px solid #e7ebee;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      transform: scaleY(0.5);
    }
  }
  p {
    justify-content: space-between;
    span {
      em {
        color: #bac7cf;
        text-decoration: line-through;
        margin-right: 3px;
      }
    }
  }
}
.bottomSubmit {
  // background-color: #ffda45;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 10px 10px;
  p {
    line-height: 30px;
    color: #4c528f;
  }
}
.van-form {
  padding-top: 10px;
}
.van-cell {
  display: block;
  padding: 10px 0;
  &::after {
    border-color: #e7ebee;
    width: 100%;
    left: 0;
  }
  input {
    font-weight: 600;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
.van-field__control {
  height: 30px;
  &::placeholder {
    color: #bac7cf;
    font-weight: 400;
  }
}
.van-field--error .van-field__control,
.van-field--error .van-field__control::placeholder {
  color: #bac7cf;
  font-weight: 400;
}
.van-field__label {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  span {
    font-weight: 400;
    font-size: 12px;
    color: #1d2243;
  }
}
.van-field__error-message {
  color: #ff5a75;
  padding-left: 10px;
  // display: none;
}
.van-icon-photograph::before {
  content: '\F0A2';
  color: #6d4ffd;
}
/deep/ .van-uploader__preview-image {
  width: 100%;
  height: 100%;
  min-width: 80px;
  min-height: 80px;
}

.van-notify {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.van-nav-bar__left,
.van-nav-bar__right {
  padding: 0 20px;
}

.van-tabs__line {
  border-radius: 0;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 50px;
  width: 100px;
  text-align: center;
}

.van-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

//

.white-color {
  color: #ffffff;
}
.color-6d4ffd {
  color: #6d4ffd;
}
.color-00d0ff {
  color: #00d0ff;
}
.color-ff5a75 {
  color: #ff5a75;
}
.color-8c9fad {
  color: #8c9fad;
}
.color-8f92a1 {
  color: #8f92a1;
}
.color-03ad8f {
  color: #03ad8f;
}
.color-2f3462 {
  color: #2f3462;
}
.bg-edf5ff {
  background-color: #edf5ff;
  color: #4c528f;
}
.bg-f7f8fc {
  background-color: #f7f8fc;
  color: #4c528f;
}
.bg-ffffff {
  background-color: #ffffff;
}
.bg-8ceaff {
  background-color: #8ceaff;
  color: #4c528f;
}
.bg-00d0ff {
  background-color: #00d0ff;
  color: #ffffff;
}
.bg-dbeaff {
  background-color: #dbeaff;
}
.bg-f6f7fb {
  background-color: #f6f7fb;
}
.color-6d4ffd {
  color: #6d4ffd;
}
.color-4c528f {
  color: #4c528f;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.padding-20 {
  padding: 0 20px;
}
.paddingtop-50 {
  padding-top: 50px;
}
.margintop-10 {
  margin-top: 10px;
}
.margintop-20 {
  margin-top: 20px;
}
.marginbottom-10 {
  margin-bottom: 10px;
}
.marginbottom-20 {
  margin-bottom: 20px;
}
.margin0auto {
  margin: 0 auto;
}
.fontweight-r {
  font-weight: 400;
}
.fontweight-m {
  font-weight: 600;
}
.fontsize10 {
  font-size: 10px;
}
.fontsize12 {
  font-size: 12px;
}
.fontsize16 {
  font-size: 16px;
}
.fontsize18 {
  font-size: 18px;
}
.fontsize20 {
  font-size: 20px;
}
.fontsize24 {
  font-size: 24px;
}
.fontsize28 {
  font-size: 28px;
}
.fontsize30 {
  font-size: 30px;
}
.block {
  display: block;
}
.inlineblock {
  display: inline-block;
}
.flex {
  display: flex;
}
.left {
  float: left;
}
.right {
  float: right;
}
.radius4 {
  border-radius: 4px;
}
.relativetop {
  position: relative;
  top: -2px;
}
.relativetop2 {
  position: relative;
  top: 2px;
}
.thinBorder {
  position: relative;
  &::after {
    content: '';
    border-bottom: 1px solid #e7ebee;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: scaleY(0.5);
  }
}
